input[type=date],
  select {
    padding: 12px 20px;
    margin: 8px 48px 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=time],
  select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=text],
  select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    text-align: center;
    align-self: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .add_todo {
    border-radius: 5px;
    background-color: #82c5df;
    color: rgb(61, 70, 116);
    margin: 20px;
    padding: 10px;
  }

  .form_div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .todo_list {
    border-radius: 5px;
    background-color: #92a2d8;
    color: rgb(61, 70, 116);
    margin: 20px;
    padding: 10px;
  }

  .todo_item {
    border-radius: 5px;
    background-color: #f2f2f2;
    color: rgb(31, 41, 58);
    padding: 10px;
    margin: 10px 0;
  }